<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Accounts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body class="d-flex flex-column">
<div id="app" class="container-fluid">
    <header class=" bg-gradient text-white row col-12">
        <div class="col-12 col-md-4 offset-1 offset-md-0 d-flex align-items-center text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16">
                <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
            </svg>
            <p class="m-0 fs-5 col-7 col-md-8">MindHub Brothers</p>
        </div>
        <h1 class="text-center d-none d-md-block col-md-6 ">Accounts</h1>

        <button class="btn btn-dark d-md-none toggl col-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMarket" aria-controls="offcanvasMarket" aria-expanded="false" aria-label="Toggle navigation">
            <i class='bx bxs-chevrons-right'></i>
        </button>
        <div class="canvas offcanvas offcanvas-start" id="offcanvasMarket" data-bs-scroll="true"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h4>Mind Hub Brothers Bank &copy; </h4>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body row">
                <div class="sidebar d-flex flex-column justify-content-between">
                    <ul class="nav_list">
                        <li>
                            <a :href="'/web/accounts.html'">
                                <i class='bx bxs-user-account' ></i>
                                <span class="links_name">My Accounts</span>
                            </a>
                        </li>
                        <li>
                            <a :href="'/web/transfers.html'">
                                <i class='bx bx-money'></i>
                                <span class="links_name">Transfers</span>
                            </a>
                        </li>
                        <li>
                            <a :href="'/web/cards.html'">
                                <i class='bx bxs-credit-card' ></i>
                                <span class="links_name">Cards</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bx-cog' ></i>
                                <span class="links_name">Settings</span>
                            </a>
                        </li>
                    </ul>
                    <div class="profile_content">
                        <div class="profile">
                            <div class="profile_details">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                <div class="name">{{client.lastName}}, {{client.firstName}}</div>
                            </div>
                            <i class='bx bx-log-out' type="button" id="log_out" @click="logOut" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="row">
        <div class="largo canvas d-none d-md-block">
            <div class="sidebar d-flex flex-column justify-content-between">
                <ul class="nav_list">
                    <li>
                        <a :href="'/web/accounts.html'">
                            <i class='bx bxs-user-account' ></i>
                            <span class="links_name">My Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a :href="'/web/transfers.html'">
                            <i class='bx bx-money'></i>
                            <span class="links_name">Transfers</span>
                        </a>
                    </li>
                    <li>
                        <a :href="'/web/cards.html'">
                            <i class='bx bxs-credit-card' ></i>
                            <span class="links_name">Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-cog' ></i>
                            <span class="links_name">Settings</span>
                        </a>
                    </li>
                </ul>
                <div class="profile_content">
                    <div class="profile">
                        <div class="profile_details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <div class="name">{{client.lastName}}, {{client.firstName}}</div>
                        </div>
                        <i class='bx bx-log-out' type="button" @click="logOut" id="log_out" ></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-1 largo_body">
            <div class="p-4">
                <h2 class="d-md-none text-center">Accounts</h2>
            </div>
            <div class="d-flex flex-nowrap">
                <div v-if="accounts.length>0">
                    <div>
                        <div  v-for="account in accounts" class="d-flex col-12" >
                            <div class="d-none d-md-flex acc text-white bg-opacity-75 col-12 m-0 mb-1">
                                <div class="acc-title card-header d-flex justify-content-between ">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" :href="'/web/account.html?id='+account.id">Transactions</a></li>
                                            <li><a class="dropdown-item" href="#" @click.prevent="deleteAcc(account.id)">Delete</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                    <h5 class="card-title">Account Nº</h5>
                                    <h5 class="card-title"> {{account.number}}</h5>
                                    </div>
                                </div>
                                <div class="card-body acc-body">
                                    <p class="card-text h-20">Type: {{account.accountType}}</p>
                                    <p class="card-text h-20">Balance: ${{account.balance}}</p>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div v-for="account in accounts" class="d-flex justify-content-center" >
                        <div v-show="account.id==selectedAccount" class="d-md-none acc card text-white bg-opacity-75">
                            <div class="acc-title card-header d-flex justify-content-between ">
                                <h5 class="card-title">Account Nª: {{account.number}}</h5>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" :href="'/web/account.html?id='+account.id">Transactions</a></li>
                                        <li><a class="dropdown-item" href="#" @click.prevent="deleteAcc(account.id)">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text h-20">Type: {{account.accountType}}</p>
                                <p class="card-text h-20">Balance: ${{account.balance}}</p>
                            </div>
                        </div>
                    </div>
                    <form v-if="accounts.length>0"class="d-flex justify-content-center">
                        <div v-for="account in accounts" class="d-md-none form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" v-model="selectedAccount" :value="account.id">
                        </div>
                    </form>
                </div>
                 <div v-else class="col-12"> <p class="text-center">Still don't have accounts?</p></div>
                <div id="chart_div" class="accImg" style="width:400; height:300">
                    <img src="./assets/Preapruved.jpg" width="300" height="200">
                </div>
            </div>


            <button v-if="accounts.length<3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Account</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="type">Select account type:</label>
                                    <select id="type" v-model="selectedType">
                                        <option value="CURRENT">current</option>
                                        <option value="SAVINGS">savings</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="createAccount()">Create</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="text-center">Loans</h2>
            <div v-if="loans.length>=1">
                <table id="table" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-2"> Name</th>
                            <th class="col-2"> Amount</th>
                            <th class="col-2"> fees</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="loan in loans">
                                <td> {{loan.name}}</td>
                                <td> {{loan.amount}} </td>
                                <td> {{loan.payments}} </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" :href="'/web/loan-application.html'" role="button">Apply</a>
            </div>
            <div v-else>
                <p class="text-center">No Loans registered</p>
                <a class="btn btn-primary" :href="'/web/loan-application.html'" role="button">Apply</a>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./data/accounts.js"></script>

</body>

</html>